<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class="page">
    {% include 'partials/navbar.html' %}
      {% if current_user.is_authenticated and current_user.USER_TYPE == 'administrator' %}
        <a href="{{ url_for('about_bp.edit_about') }}">Edit About</a>
      {% endif %}
    </p>

    <h2>About TTT Rewards</h2>

    <img src="{{ url_for('static', filename='TripleTBanner.png') }}"
         alt="Triple T banner" class="center-image" width="1024" height="450">

    <ul>
      <li>Team #: {{ about_info.team_num }}</li>
      <li>Version #: {{ about_info.version_num }}</li>
      <li>Release Date: {{ about_info.release_date.strftime('%Y-%m-%d') if about_info.release_date else 'N/A' }}</li>
      <li>Product Name: {{ about_info.product_name or 'N/A' }}</li>
      <li>Product Description: {{ about_info.product_desc or 'N/A' }}</li>
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="flash-messages {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    {% include 'partials/footer.html' %}
  </body>
</html>

