<!doctype html>
<html>
  <head><meta charset="utf-8"><title>About Page</title></head>
  <body style="font-family: system-ui; margin:2rem;">
    <p><a href="/">Back</a></p>
    <h2 style="text-align: center;">About TTT Rewards</h2>
    <ul>
      <img src="{{ url_for('static', filename='TTTtiger.png') }}" alt="There should be a truck here" width="1024" height="438"> 
      <li>Team #: 12</li>
      <li>Version #: {{ version_num }}</li>
      <li>Release Date: {{ release_date.strftime('%Y-%m-%d') }}</li>
      <li>Product Name: Team Twelve Trucking</li>
      <li>Product Description: Triple T for short, currently the site has a 
        placeholder home page and placeholder logins for all 3 types of users,
         and a placeholder points shop that is using a temporary API</li>
    </ul>
  </body>
</html>