# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Envs
venv/
env/
.venv/

# Secrets
.env
.env.*

# IDE/Tools
.vscode/
.idea/

# Flask / build artifacts (adjust if you have these)
instance/
dist/
build/
static/dist/
static/generated/
.env
