{% extends "base.html" %}
{% block content %}
  <main class="app-main-content container">
    <h1>Sponsor Dashboard</h1>

    <div class="dashboard-links">
      <p><a href="{{ url_for('sponsor_bp.manage_points_page') }}" class="btn btn-dash">Award / Remove Points</a></p>
      
      <p><a href="{{ url_for('sponsor_bp.add_user') }}" class="btn btn-dash">Create New Driver</a></p>

      <p><a href="{{ url_for('sponsor_bp.review_driver_applications') }}" class="btn btn-dash">Review Applications</a></p>
      <p><a href="{{ url_for('sponsor_bp.update_settings') }}" class="btn btn-dash">Store Settings</a></p>
    </div>
  </main>
{% endblock %}