{% extends "base.html" %}
{% block content %}
  <main class="app-main-content container">
    <h1>Driver Management</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash-messages {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <p>
        Sort by:
        <a href="{{ url_for('sponsor_bp.driver_management', sort_by='USERNAME') }}">Username</a> |
        <a href="{{ url_for('sponsor_bp.driver_management', sort_by='POINTS') }}">Points</a>
    </p>

    <table>
        <thead>
            <tr>
                <th style="padding-right: 20px;">Username</th>
                <th style="padding-right: 20px;">Points</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.USERNAME }}</td>
                <td>{{ driver.POINTS }}</td>
                <td>
                    <a href="{{ url_for('sponsor_bp.driver_purchase_history', driver_id=driver.USER_CODE) }}">Purchase History</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No drivers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="spacer"></div>
    <a href="{{ url_for('sponsor_bp.dashboard') }}" class="btn btn-outline">Back to Dashboard</a>
  </main>
{% endblock %}