{% extends "base.html" %}

{% block title %}Home - TRIPLE T's Trucking Rewards{% endblock %}

{% block content %}
  <h1>TRIPLE T's TRUCKING REWARDS</h1>
  <ul class ="no-bullets">
    <li><a href="{{ url_for('driver_bp.dashboard') }}">Driver Dashboard</a></li>
    <li><a href="{{ url_for('sponsor_bp.dashboard') }}">Sponsor Dashboard</a></li>
    <li><a href="{{ url_for('administrator_bp.dashboard') }}">Administrator Dashboard</a></li>
    <li><a href="{{ url_for('rewards_bp.store') }}">Truck Rewards Store</a></li>
    <li><a href="{{ url_for('about_bp.view_about') }}">About Page</a></li>
  </ul>
      {% if current_user.is_authenticated %}
        Logged in as {{ current_user.USERNAME }}
        (<a href="{{ url_for('auth.logout') }}">Logout</a>)
      {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
      {% endif %}
{% endblock %}
