{% extends "base.html" %}
{% block content %}
  <h2>Login</h2>

  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Username</label>
    <input type="text" name="username" required>
    <label>Password</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
    <p><a href="{{ url_for('auth.reset_password') }}">Forgot your password?</a></p>
    <p><a href="/">Back</a></p>
  </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <div class="flash-messages {{ category }}">{{ message }}</div>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}